# Configuration file of default annotator scripts or code
# 
# uses standard java properties format
#

date: date.mixup
time: time.mixup
pos: edu.cmu.minorthird.text.POSTagger
abbrev: edu.cmu.minorthird.text.ExtractAbbrev
URL: edu.cmu.minorthird.text.URLAnnotator
npchunks: np.mixup
names: names.mixup