# Configuration file of default annotator scripts or code
# Lines starting with # are comments
# annotator configuration lines have one of the the format:
#
# annotation:annotationfile
# whitespace is (or should be) ignored
#
date:date.mixup
time:time.mixup
pos:edu.cmu.minorthird.text.POSTagger
npchunks:np.mixup
names:names.mixup
amt:amt.mixup
